build:
  maxIssues: 0
  excludeCorrectable: false
  weights:
    complexity: 2
    LongParameterList: 1
    style: 1
    comments: 1

complexity:
  active: true
  CyclomaticComplexMethod:
    active: true
    threshold: 15
    ignoreSimpleWhenEntries: true
    ignoreNestingFunctions: true
  LongMethod:
    active: true
    threshold: 65
  LongParameterList:
    active: true
    functionThreshold: 10
    constructorThreshold: 10
  TooManyFunctions:
    active: true
    thresholdInFiles: 20
    thresholdInClasses: 15
    thresholdInInterfaces: 15
    thresholdInObjects: 15
    thresholdInEnums: 15

style:
  active: true
  MagicNumber:
    active: true
    ignoreNumbers:
      - '-1'
      - '0'
      - '1'
      - '2'
      - '10'
      - '100'
      - '1000'
  MaxLineLength:
    active: true
    maxLineLength: 120
    excludeCommentStatements: true
  ReturnCount:
    active: true
    max: 5

exceptions:
  active: false
  TooGenericExceptionCaught:
    active: false
  TooGenericExceptionThrown:
    active: false
